body {
  font-family: Roboto, sans-serif;
  background: #555;
  color: #ccc;
  margin: 0;
}

// reset
* {
  box-sizing: border-box;
}

img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

// custom scrollbar
* {
  &::-webkit-scrollbar {
    width: 8px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 8px;
  }
  
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #424242;
    }
  }
}

// text styles
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-m {
  font-size: 1rem;
  line-height: 1.25rem;
}

.text-l {
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

// layout
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;

  &.justify-start {
    justify-content: flex-start;
  }
  
  &.justify-center {
    justify-content: center;
  }
  
  &.justify-end {
    justify-content: flex-end;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.align-center {
    align-items: center;
  }

  &.align-end {
    align-items: flex-end;
  }
}